@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    background-image: linear-gradient(to right,#2D328C,#1D2059,#010440);
    font-family: 'Spline Sans';
}
h1{
    font: 700 3.5em 'Nanum Gothic', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
    text-align: center;
}
h2{
    font: 650 2em 'Nanum Gothic', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}
strong{
    color: #6B0F1A;
}
a{
    text-decoration: none;
    color: #ECD444;
}
main{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #00021871;
}